
/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: blue;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.menu__header{
    display: inline-flex;
    margin: 1em 0 2em 1em;
    height: 22px;
    
}

.menu__title{
    margin: 0 0 0 10px;
}

/*Sección Title*/

.title__div{
    position: relative;
    margin: 0 20px 15px 200px;
}


.menu__list{
    display: inline-flex;
    font-size: 20px;
    margin: 5px 0 5px 5px;
    padding: 5px 0 5px 5px;
    background-color: rgba(85, 207, 203, 0.286);
}

li{
    float: left;
}

.about__container{
    margin-left: 25px;
}

/*Sección Hobbies*/

.menu__list__sobre-mi{
    padding: 5px 83px;
}

/* Experiencia Académica*/

.menu__list__skills{
    padding: 5px 83px;
}

.menu__list__hobbies{
    padding: 5px 83px;
}

.menu__list__formacion{
    padding: 5px 83px;
}

.menu__list__proyectos{
    padding: 5px 83px;
}

.menu__list__contacto{
    padding: 5px 83px;
}

.barra{
    padding: 5px 0 0 0;

}

.title__div, .formcontato__contacto{
    display:inline-flex;
    margin: 25px 10px;
}

.title__container{
    padding-top: 35px;
    padding-left: 85px;
}

.title__bio{
    padding-bottom: 50px;
}

.title__subsection{
    padding-bottom: 50px;
}

.title__network{
    margin-top: 50px;
}

.title__network__github{
    padding: 0 60px 0 120px;
}

.title__network__linkedin{
    padding: 0 60px 0 60px;
}

.title__network__instagram{
    padding: 0 60px 0 60px;
}

.title__network__curriculo{
    padding: 0 60px 0 60px;
}

.about__title{
    text-align: center;
}

.skills, .hobbies, .academic, .experience{
    text-align: center;
    margin: 25px;
    padding-top: 3px;
}

.skills__title, .hobbies__title, .academic__title, .experience__section__title{
    font-size: 25px;
    margin: 5px 0 5px 0;
    background-color: rgba(85, 207, 203, 0.286);
}



.experience__info{
    margin: 25px;
}

.skills__line, .hobbies__line, .academic__courses__list, .academic__courses__list1{
    display: inline-flex;
    padding: 3px;
}

.academic__courses__item__img1{
    margin-top: 50px;
    margin-left: 125px;
}

.academic__courses__item__title{
    padding: 35px 0 0 15px;
}

.formcontato{
    background-color: rgba(85, 207, 203, 0.286);
    margin: 85px 0 5px 0;
}

.formcontato__text{
    margin-left: 35px;
}

.formcontato__subtext{
    height: 8%;
    margin: 5px 0px 5px 150px;
}

.formcontato__form{
    display: inline-block;
    margin-left: 250px;
}

.formcontato__input__text, .formcontato__input__email,.formcontato__input__text1, .formcontato__textarea, .formcontato__botao{
    margin: 5px;
    width: 50%;
    height: 100%;
    padding: 5px;
    
}

.box2{
    padding: 0 0 0 250px;
}







/*footeer*/

.footer__rodape{
    display: inline-flex;
    font-size: 10px;
}



/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media only screen and (max-width: 768px) {

    .menu__list__sobre-mi{
        padding: 5px 10px;
    }
    
    /* Experiencia Académica*/
    
    .menu__list__skills{
        padding: 5px 20px;
    }
    
    .menu__list__hobbies{
        padding: 5px 20px;
    }
    
    .menu__list__formacion{
        padding: 5px 20px;
    }
    
    .menu__list__proyectos{
        padding: 5px 20px;
    }
    
    .menu__list__contacto{
        padding: 5px 20px;
    }

    .title__network__github{
        padding: 0 60px 0 60px;
    }
    
    .title__network__linkedin{
        padding: 0 60px 0 60px;
    }
    
    .title__network__instagram{
        padding: 0 60px 0 60px;
    }
    
    .title__network__curriculo{
        padding: 0 60px 0 60px;
    }

    .experience__info{
        width: 100%;
        height: 100%;
    }

    .experience__img{
        width: 100%;
        height: 100%;
    }

    .formcontato{
        background-color: rgba(85, 207, 203, 0.286);
        margin: 85px 0 5px 0;
    }
    
    .formcontato__text{
        margin-left: 35px;
    }
    
    .formcontato__subtext{
        height: 8%;
        margin: 5px 0px 5px 35px;
    }
    
    .formcontato__form{
        display: inline-block;
        margin-left: 250px;
    }
    
    .formcontato__input__text, .formcontato__input__email,.formcontato__input__text1, .formcontato__textarea, .formcontato__botao{
        margin: 3px;
        width: 80%;
        height: 100%;
        padding: 5px;
        
    }
    
    .box2{
        margin-top: 20px;
        padding: 15px 0 0 50px;
    }
}

/*Mobile*/
@media only screen and (max-width: 425px) {

    .menu__header{
        font-size: 10px;
    }

    .title__div{
        width: 350px;
        height: 350px;
        display: inline-block;
    }

    .title__container{
        padding: 15px 15px;
        text-align: justify;
    }

    .title__bio{
        font-size: 15px;
        padding-bottom: 0px;
    }

    .title__subsection{
        font-size: 15px;
        padding-bottom: 0px;
        width: 325px;
    }

    .title__network{
        display: inline-block;
        font-size: 15px;
        padding: 0 0 0 0;
        margin: 15px 0px;
        width: 350px;
    }

    .menu__list__sobre-mi{
        font-size: small;
        padding: 5px 4px;
    }
    
    .menu__list__skills{
        font-size: small;
        padding: 5px 4px;
    }
    
    .menu__list__hobbies{
        font-size: small;
        padding: 5px 4px;
    }
    
    .menu__list__formacion{
        font-size: small;
        padding: 5px 4px;
    }
    
    .menu__list__proyectos{
        font-size: small;
        padding: 5px 4px;
    }
    
    .menu__list__contacto{
        font-size: small;
        padding: 5px 4px;
    }

    .title__network__github{
        padding: 0 5px;
    }
    
    .title__network__linkedin{
        padding: 0 5px;
    }
    
    .title__network__instagram{
        padding: 0 5px;
    }
    
    .title__network__curriculo{
        padding: 0 5px;
    }

    .skills{
        margin: 25px 10px;
    }

    .skills__box{
        width: 25%;
        height: 25%;
        font-size: 12px;
    }

    .hobbies{
        margin: 25px 10px;
    }

    .hobbies__line{
        width: 100%;
        height: 100%;
        padding: 0 0;
    }

    .hobbies__box{
        width: 20%;
        height: 20%;
        font-size: 12px;
    }

    .academic__courses__list{
        display: inline-block;
        margin: 10px;
    }

    .academic__courses__item__img, .academic__courses__item__img1{
        margin-left: 65px;
    }

    .academic__courses__item__img1{
        margin-top: 20px;
    }

    h4{
        margin: 7px;
    }

    .academic__courses__item__title{
        font-size: 10px;
        padding-top: 0px;
        padding-left: 65px;
    }

    .experience__info{
        width: 100%;
        height: 100%;
    }

    .experience__img{
        width: 100%;
        height: 100%;
    }

    .formcontato{
        background-color: rgba(85, 207, 203, 0.286);
        margin: 85px 0 5px 0;
    }

    .formcontato__img{
        width: 100px;
        height: 100px;
        margin-top: 100px;
    }
    
    .formcontato__text{
        margin-left: 35px;
    }
    
    .formcontato__subtext{
        height: 8%;
        margin: 5px 0px 5px 35px;
        font-size: 15px;
    }
    
    .formcontato__form{
        display: inline-block;
        margin-left: 250px;
    }
    
    .formcontato__input__text, .formcontato__input__email,.formcontato__input__text1, .formcontato__textarea, .formcontato__botao{
        width: 80%;
        height: 100%;
        padding: 5px;
        
    }
    
    .box2{
        margin-top: 20px;
        padding: 15px 0 0 0px;
    }
}